:root {
  --basic-clr: #121618;
  --scnd-clr: #ffd43b;
}
body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  background: url(./imgs/bg_4.jpg.webp) no-repeat fixed;
  background-size: cover;
}
/*------------------------------------------------------------------------*/
.navy {
  background: var(--basic-clr) !important;
  z-index: 3;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  font-family: "Josefin Sans", Arial, sans-serif !important;
  line-height: 0.9;
}
.navbar-brand span {
  font-weight: bold;
}
.navbar-brand small {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--scnd-clr);
}
.nav li a {
  color: #fff;
  font-size: 0.8rem;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--scnd-clr);
}
.nav li a:focus {
  color: #fff;
}
.nav .active {
  color: var(--scnd-clr);
}
.offcanvas {
  background: var(--basic-clr);
}
@media (max-width: 992px) {
  .nav li {
    width: 100%;
    display: block;
    margin: 15px 10px;
  }
  .nav li a {
    font-size: 1rem;
  }
}
.navbar-toggler {
  font-size: 1rem;
}
.navbar-toggler:hover span {
  color: var(--scnd-clr);
}
