:root {
  --basic-clr: #121618;
  --scnd-clr: #ffd43b;
}
body {
  font-family: "Josefin Sans", Arial, sans-serif !important;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  background: url(./imgs/bg_4.jpg.webp) no-repeat fixed;
  background-size: cover;
}
/*------------------------------------------------------------------------*/
.navy {
  background: var(--basic-clr) !important;
  z-index: 3;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  line-height: 0.9;
}
.navbar-brand span {
  font-weight: bold;
}
.navbar-brand small {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--scnd-clr);
}
.nav li a {
  color: #fff;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--scnd-clr);
}
.nav li a:focus {
  color: #fff;
}
.nav .active {
  color: var(--scnd-clr);
}
.offcanvas {
  background: var(--basic-clr);
}
@media (max-width: 992px) {
  .nav li {
    width: 100%;
    display: block;
    margin: 15px 10px;
  }
  .nav li a {
    font-size: 1rem;
    font-weight: bold;
  }
  .nav li a:focus {
    color: var(--scnd-clr);
  }
}
.navbar-toggler {
  font-size: 1rem;
}
.navbar-toggler:hover span {
  color: var(--scnd-clr);
}
/*------------------------------------------------------------------------*/
.carousel {
  transition: transform 1s ease;
}

.carousel-item .slid-img {
  background-image: url(./imgs/bg_1.jpg.webp);
}
.carousel-item:first-child .slid-img {
  background-image: url(./imgs/bg_3.jpg.webp);
}
.slid-img {
  background-size: cover;
  position: relative;
  height: 100vh;
}
.slid-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--basic-clr);
  opacity: 0.5;
  z-index: 1;
}
.slid-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 22;
  line-height: 1.5;
  padding: 15px;
}
.subhead {
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: #fac564;
}
.slid-content h1 {
  font-size: 2.3rem !important;
  font-weight: 400 !important;
  margin: 7px !important;
  text-transform: uppercase;
}
.slid-content .buttons {
  display: flex;
  justify-content: center;
}
.slid-content .buttons a {
  display: block;
  padding: 10px;
  font-size: 0.8rem;
  border: 2px solid var(--scnd-clr);
  transition: 0.5s;
}
.slid-content .buttons .order,
.slid-content .buttons .view:hover,
.slid-content .buttons .view:focus {
  color: #000;
  background-color: var(--scnd-clr);
}
.slid-content .buttons .view,
.slid-content .buttons .order:hover,
.slid-content .buttons .order:focus {
  color: var(--scnd-clr);
  background-color: transparent;
}
.slid-text {
  transform: translateY(30px);
}
.slid-content .col-10 img {
  width: 100%;
}
