:root {
  --basic-clr: #121618;
  --scnd-clr: #ffd43b;
}
body {
  font-family: "Josefin Sans", Arial, sans-serif !important;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  background: url(./imgs/bg_4.jpg.webp) no-repeat fixed;
  background-size: cover;
}
/*------------------------------------------------------------------------*/
.navy {
  background: var(--basic-clr) !important;
  z-index: 3;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  line-height: 0.9;
}
.navbar-brand span {
  font-weight: bold;
}
.navbar-brand small {
  font-size: 0.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--scnd-clr);
}
.nav li a {
  color: #fff;
  transition: 0.5s;
}
.nav li a:hover {
  color: var(--scnd-clr);
}
.nav li a:focus {
  color: #fff;
}
.nav .active {
  color: var(--scnd-clr);
}
.offcanvas {
  background: var(--basic-clr);
}
@media (max-width: 992px) {
  .nav li {
    width: 100%;
    display: block;
    margin: 15px 10px;
  }
  .nav li a {
    font-size: 1rem;
    font-weight: bold;
  }
  .nav li a:focus {
    color: var(--scnd-clr);
  }
}
.navbar-toggler {
  font-size: 1rem;
}
.navbar-toggler:hover span {
  color: var(--scnd-clr);
}
/*------------------------------------------------------------------------*/
.carousel {
  transition: transform 1s ease;
}

.carousel-item .slid-img {
  background-image: url(./imgs/bg_1.jpg.webp);
}
.carousel-item:first-child .slid-img {
  background-image: url(./imgs/bg_3.jpg.webp);
}
.slid-img {
  background-size: cover;
  position: relative;
  height: 100vh;
}
.slid-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--basic-clr);
  opacity: 0.5;
  z-index: 1;
}
.slid-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 22;
  line-height: 1.5;
  padding: 15px;
}
.subhead {
  font-family: "Nothing You Could Do", cursive;
  font-size: 30px;
  color: #fac564;
}
.slid-content h1 {
  font-size: 2.3rem !important;
  font-weight: 400 !important;
  margin: 7px !important;
  text-transform: uppercase;
}
.slid-content .buttons {
  display: flex;
  justify-content: center;
}
.buttons a {
  display: block;
  padding: 10px;
  font-size: 0.8rem;
  transition: 0.5s;
}
.buttons .view {
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
}
.buttons .order,
.buttons .view:hover,
.buttons .view:focus {
  color: #000;
  background-color: var(--scnd-clr);
  border: 2px solid var(--scnd-clr);
}
.buttons .order:hover,
.buttons .order:focus {
  color: var(--scnd-clr);
  background-color: transparent;
}
.slid-text {
  transform: translateY(30px);
}
.slid-content .col-10 img {
  width: 100%;
}
/*------------------------------------------------------------------------*/
.social {
  background: #000;
}
.social .col-sm-3 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.social .col-sm-3:last-child {
  background-color: var(--scnd-clr);
  justify-content: flex-start;
  align-items: center;
}
.social .col-sm-3 i {
  margin: 10px;
  font-size: large;
}
.sicon i {
  color: var(--scnd-clr);
  transition: 1s ease;
}
.social .col-sm-3:hover .sicon i {
  transform: rotate(1turn);
}
@media (max-width: 576px) {
  .social .col-sm-3 {
    padding: 5px;
    justify-content: center;
  }
  .social .col-sm-3:last-child {
    justify-content: center;
  }
}
/*-------------------------------------------------------------------------*/
#about div h3 span {
  color: var(--scnd-clr);
}
#about div h3 span i {
  margin: 2px;
  transform: rotate(165deg);
}
#about .Atext {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*-------------------------------------------------------------------------*/
#services {
  color: #000;
  background-image: url(./imgs/food.png.webp);
  background-size: contain;
}
#services .row h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--basic-clr);
}
.serv {
  text-align: center;
}
.serv div i {
  padding: 15px;
  font-size: 2.5rem;
  margin: 10px;
  position: relative;
  color: #352c10;
  z-index: 2;
}
.serv div i::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
  border: 1px solid rgba(53, 44, 16, 0.5);
  border-radius: 2px;
  transition: 0.3s ease;
}
.serv:hover div i {
  color: var(--basic-clr);
}
.serv:hover div i::after {
  transform: rotate(135deg);
  background-color: rgb(255, 208, 0);
  border-color: var(--scnd-clr);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.serv h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 10px 0px;
}
.serv p {
  font-size: 1rem;
}
/*-------------------------------------------------------------------------*/
